<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title</label>
    <!--This is where the title info is gathered-->
    <input name="title" id="title" #newTitle> 
  </div>

  <div class="field">
    <label for="link">Link</label>
    <!--This is where the link info is gathered-->
    <input name="link" id="link" #newLink>
  </div>

  <!--Button Work, refer to app.component.ts for the logic-->
  <button (click)= "addArticle(newTitle, newLink)" 
    class= "ui positive right floating button">
    Submit Link
  </button>
</form>